.form
{
    width: calc(100% - 16px * 2 - 16px * 2);
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    margin: 16px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 8px black;
}

.form input
{
    width: 100%;
    display: block;
    padding: 16px;
    margin-bottom: 16px;
}

.form button
{
    width: 100%;
    display: block;
    padding: 16px;
    background-color: #06c;
    border: 1px solid #06c;
    color: white;
}

.form button:hover
{
    background-color: white;
    color: #06c
}